h1 { margin-bottom: 20px; }

#login_wrap .forgetpw { text-align: left; font-size: 14px;
    margin: 0 0 10px 10px; cursor: pointer; }

#login_wrap .forgetpw a, #login_wrap .regist_btn a { color: blue; }