* {
    margin : 0 0 0 0;
    font-family: 'Noto Sans KR', sans-serif;
}

html {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,229,168,1) 0%, rgba(251,174,222,1) 100.7% );
}

#font_style {
    font-family: 'Gugi', cursive;
}

a {
    text-align : center;
    color : black;
    text-decoration-line : none;
}

li {
    list-style: none;
    margin : 0 0 10px 0;
}

/* 제목 */
header {
    width : auto;
    height : 100px;
    display : block;
    border-bottom-style: double;
    border-color : #ffffff;
    position : relative;
}
.site_name {
    text-align : center;
    padding : 30px 0;
}
.site_name > a {
    font-family: 'Gugi', cursive;
}

.right-top {
    position : absolute;
    right : 20px;
    top : 60px;
}
/* 본문 */
#main {
    width : auto;
    height : 800px;
    display : grid;
    grid-template-columns: 200px 2fr;
}

.menu {
    height : inherit;
    border-right-style: double;
    border-color: #ffffff;
}
.menu>ul {
    padding-top:20px;
}
.menu>ul>li>h2 {
    font-family: 'Gugi', cursive;
}
.menu>ul>li>a {
    font-family: 'Gugi', cursive;
}
.board {
    margin : 50px;
}

/* 끝 */
footer {
    width : auto;
    height : 100px;
    display : block;
    border-top-style: double;
    border-color : #ffffff;
}